/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/noto-sans-v21-latin-regular.eot") format("embedded-opentype"), url("../fonts/noto-sans-v21-latin-regular.woff2") format("woff2"), url("..assets/fonts/noto-sans-v21-latin-regular.woff") format("woff"), url("..assets/fonts/noto-sans-v21-latin-regular.ttf") format("truetype"), url("..assets/fonts/noto-sans-v21-latin-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("..assets/fonts/noto-sans-v21-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("..assets/fonts/noto-sans-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("..assets/fonts/noto-sans-v21-latin-700.woff2") format("woff2"), url("..assets/fonts/noto-sans-v21-latin-700.woff") format("woff"), url("..assets/fonts/noto-sans-v21-latin-700.ttf") format("truetype"), url("..assets/fonts/noto-sans-v21-latin-700.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* BBC */
@font-face {
  font-family: "BBC Reith Sans Bold";
  src: url("../fonts/BBCReithSans_W_Bd.woff") format("woff");
}
@font-face {
  font-family: "BBC Reith Sans Bold";
  src: url("../fonts/BBCReithSans_W_Bd.woff2") format("woff2");
}
@font-face {
  font-family: "BBC Reith Sans Medium";
  src: url("../fonts/BBCReithSans_W_Md.woff2") format("woff2");
}
@font-face {
  font-family: "BBC Reith Sans Medium";
  src: url("../fonts/BBCReithSans_W_Md.woff") format("woff");
}